body{
  background-color: #000000;
}

#fondo{

  width: 100%;
  height: 100%;
  position: absolute;
  background:url(../img/fondo.jpg) no-repeat fixed bottom center;
  z-index: -1;
  filter: blur(5px);
}

#imgCirculo{
  background-position-x: center;
  border-radius: 50%;
  width:400px;
  height:400px;
  /* border-radius:160px; */
  border:10px solid rgb(255, 254, 254);
}


#logo{
  vertical-align: middle!important;
  top: 10%;
  position: relative;
}

#footer{
  bottom: 0%;
  background-color: #000000;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

#esp1{
  width: 80%;
  height: 25px;
}

#esp2{
  width: 80%;
  height: 150px;
}

.row-cols-4>* {
  text-align: center;
}

.col{
  text-align: center;
}

#icon{
  min-width: 72px;
  min-height: 72px;
  max-width: 80%;
}

.row-cols-5>* {
  flex: 0 0 20%;
  max-width: none;
}