/* html,body{
  height: 100%;
  width: 100%;
} */

body{

  background: url("/img/fondo.jpg") no-repeat fixed bottom center ;
  
  /* background: linear-gradient(0deg,black,#0D273D) no-repeat fixed bottom center; */

  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; */
  /* overflow: hidden; */
  /* z-index: 0; */
}

/* #logo{
	top: 50%;
	height: 50%;

} */

#footer{
  /* position: absolute; */
	bottom: 0%;
	height: 8%;
}

  /* body::before{
    content: '';
    display: block;
    background: inherit;
    position: absolute;
    width: 100%; height: 100%;
    left: 0; top: 0;
    filter: blur(15px);
    transform: scale(1.2,1.4);
    z-index: 0;
  } */
  
  /* .vdivide [class*='col-6']:not(:last-child):after {
      background: #e0e0e0;
      width: 1px;
      content: "";
      display:block;
      position: absolute;
      top:0;
      bottom: 0;
      right: 0;
      min-height: 70px;
  } */